<header>
    <div class="e-nav">
        <div class="e-nav-logo e-border"> 
            <a href="/products">SwiftCart<p>.in</p></a>
        </div>
        <div class="e-nav-address e-border">
            <i class="fa-solid fa-location-dot"></i>
            <div class="e-nav-add">
                <div class="e-nav-deliver">Delivering to Vijayawa..</div>
                <div class="e-nav-location">Update Location</div>
            </div>
        </div>
        <div class="e-nav-search">
            <div class="e-nav-search-field"><input type="text" placeholder="Search SwiftCart.in"></div>
            <div class="e-nav-search-div"><a href="#"class="e-nav-search-button"><i class="fa-solid fa-magnifying-glass"></i></a></div>
        </div>
        <div class="e-nav-account e-border">
            <a href="/login">AccountLists</a>
        </div>
        <div class="e-nav-cart e-border">
            <a href="/cart" ><i class="fa-solid fa-cart-shopping"></i>Cart</a>
        </div>
    </div>
</header>