<% layout("/layouts/boilerplate") -%>
    <div class="login-nav-logo e-border">
        <a href="">SwiftCart<p>.in</p></a>
    </div>
    <div class="login-signUp login-card">
        <h2 class="login-card-heading">Sign In</h2>
        <form action="" class="login-card-form">
            <div>
                <p><label for="username">Username</label></p>
                <input type="text" name="username" placeholder="Enter the Username" id="username" class="signIn-input">
            </div>
            <div>
                <p><label for="password">Password</label></p>
                <input type="password" name="password" placeholder="Enter your password" id="password" class="signIn-input">
            </div>
            
            <button class="signIn-button">Sign In</button>
            <br><br><hr>
            <p id="signIn-p">Already a User ? <a href="" >SignUp</a></p>
        </form>
    </div>
