<% layout("/layouts/boilerplate") -%>
<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
    <%for(product of products){%>
        <a href="/products/<%= product._id  %>" class="products-link">
            <div class="card ">
                <img src="<%= product.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title"><%= product.title %></h3>
                    <p class="card-price"><b><span class="rupees">&#8377;</span><%= product.price %></b></p>
                </div>
            </div>
        </a>
    <% } %>
</div>
